# Lake
/.lake/
/.build/
/lake-packages/


# Editors
.vscode/
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store
CGJteamLab/TestFinlayStep1Triangles.lean
CGJteamLab/Docs/Book1/figures/Proposition35_figures.cmd
CGJteamLab/Docs/Book1/Book1R.synctex
CGJteamLab/HilbertGrundlagenPascalTest.lean
